* {
  margin: 0;
}

.distribution-bar {
  text-align: left;
  padding: 0px 5px;
  min-width: fit-content;
}


.form-input {
  width: 100px !important;
}

.divider {
  margin: 15px 0 !important;
}

#lmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  flex-direction: column;
}

.sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}